@model KacikFryzjerski.ViewModel.HomeViewModel
@using KacikFryzjerski.Infrastructure
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h1>Oferta naszych produków</h1>
    <div id="products">
        <table>
            <tr>
                @foreach (var bestseller in Model.Bestsellers)
                {
                    <td>
                        <div id="product-image"><img src="@Url.StoreItemImagePath(bestseller.Product_image_path)"</div>
                        <div id="product-name"><a href="@Url.Action("Detail", "Store", new { product_id = bestseller.Id })">@bestseller.Product_name</a></div>
                        <div id="product-description">@bestseller.Product_description</div>
                        <div id="produdct-price">@bestseller.Product_price</div>
                        <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { product_id = bestseller.Id })">Dodaj do koszyka</a>
                    </td>
                }
            </tr>
        </table>
    </div>
</div>