@model KacikFryzjerski.ViewModel.HomeViewModel
@using KacikFryzjerski.Infrastructure
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Fryzjer</h2>
        <p>
            Jesteśmy świadomi zaufania, jakim darzą nas klienci i staramy się go nie stracić. 
            Działamy nieszablonowo i dbamy o indywidualne podejście do każdego, kto korzysta z naszych usług. 
            Naszą wiedzę wykorzystujemy, aby sprostać zleconemu przez Ciebie zadaniu i czerpać z tego satysfakcję.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Barber</h2>
        <p>
            Miejsce, w którym dbamy o atmosferę, samopoczucie, twarze, fryzury, brody i zarosty mężczyzn. 
            Podtrzymując najstarsze tradycje, śledzimy światowe trendy, doskonaląc swoje umiejętności. 
            Podnosimy poziom męskiej świadomości na temat pielęgnacji z odpowiednim podejściem i pełną kulturą. 
            Jesteśmy otwarci na potrzeby naszych klientów i uważnie wsłuchujemy się w ich oczekiwania.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nasze prace</h2>
        <p>
            Nasz barber i fryzjerzy dbają o to, aby fryzury i zarosty były dostosowane do kształtu twarzy. 
            Jednocześnie dokładają wszelkich starań, aby całość była spójna.

            Wiedza i doświadczenie sprawiają, że bez problemu rozpoczynają pracę z każdym rodzajem włosa. 
            Dobrze dobrana fryzura nie tylko podkreśli rysy twarzy, ale także odmłodzi i doda pewności siebie. 
            Zapraszamy do świata profesjonalnych pasjonatów fryzjerstwa, którzy odkryją przed Wami nową 
            jakość tego rzemiosła.
        </p>
    </div>

    <h1>Oferta naszych produków</h1>
    <div id="products">
        <table>
            <tr>
                @foreach (var bestseller in Model.Bestsellers)
                {
                    <td>
                        <div class="product-image"><img src="@Url.StoreItemImagePath(bestseller.Item_image_path)"</div>
                        <div class="product-title"><a href="@Url.Action("ItemDetails", "Store", new { id = bestseller.Id })">@bestseller.Item_name</a></div>
                        <div class="product-description">@bestseller.Item_description</div>
                        <div class="produdct-price">@bestseller.Item_price</div>
                        <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { id = bestseller.Id })">Dodaj do koszyka</a>
                    </td>
                }
            </tr>
        </table>
    </div>
</div>