@model IEnumerable<KacikFryzjerski.Models.OrderModels>

@{
    ViewBag.Title = "OrdersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="manage-header">Twoje zamówienia</h2>

    <div>
        @if (Model.Any())
        {
            foreach (var order in Model)
            {
                <div class="order-row">
                    <div class="details @if (order.Order_order_status == KacikFryzjerski.Models.OrderStatus.Nowe) { <text>new-order</text> }">
                        <div><strong>Nr zamówienia: </strong>@order.Id</div>

                        <table class="order-details">
                            <tr>
                                <td>
                                    <div><strong>Data: </strong>@order.Order_ordered_at.ToString("dd-MM-yyyy")</div>
                                    <div>
                                        <strong>Dane wysyłkowe:</strong><br />
                                        @order.Order_name @order.Order_surname<br />
                                        @order.Order_address<br />
                                        @order.Order_postcode @order.Order_city<br />
                                    </div>
                                </td>
                                <td style="text-align:right; vertical-align: top;">
                                    <div style="display: inline-flex;">
                                        <strong style="padding: 5px;">Stan: </strong>
                                        <span>
                                            @if (ViewBag.UserIsAdmin)
                                            {
                                                using (Html.BeginForm("ChangeOrderStatus", "Manage"))
                                                {
                                                    @Html.HiddenFor(o => order.Id)
                                                    @Html.EnumDropDownListFor(o => order.Order_order_status, new { @class = "order-status-change" })
                                                }
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(o => order.Order_order_status)
                                            }
                                        </span>
                                    </div>
                                    <div><strong>Łączny koszt:</strong> @order.Order_total_order_price zł</div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    @foreach (var orderPositions in order.OrderPosition)
                    {
                        if (orderPositions.OrderPosition_ProductElement != null)
                        {
                            <div class="ordered-product-row">
                                <table>
                                    <tr>
                                        <td class="image"><img class="product" src="@Url.Content("~/Content/images/store/" + orderPositions.OrderPosition_ProductElement.Product_image_path)" /></td>
                                        <td><a href="@Url.Action("Details", "Product", new { id = orderPositions.Id })">@orderPositions.OrderPosition_ProductElement.Product_name</a></td>
                                        <td><strong>sztuk: </strong>@orderPositions.OrderPosition_quantity</td>
                                        <td><strong>suma: </strong>@(orderPositions.OrderPosition_quantity * @orderPositions.OrderPosition_price)  zł</td>
                                    </tr>
                                </table>
                            </div>
                        }
                    }
                </div>
            }
        }
        else
        {
            <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Brak zamówień</div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>

    <script>
    $(".order-status-change").on('change', function (e) {
        //e.preventDefault();
        var f = $(this.form);
        var action = f.attr("action");
        var serializedForm = f.serialize();
        var divElem = f.closest(".details");
        $.post(action, serializedForm).done(function (data) {
            if (data == '@KacikFryzjerski.Models.OrderStatus.Nowe.ToString()') {
                divElem.addClass("new-order")
            }
            else {
                divElem.removeClass("new-order");
            }
        });
    });
    </script>
}