@model IEnumerable<KacikFryzjerski.Models.ProductModels>
@using KacikFryzjerski.Infrastructure

<table>
    <tr>
        @foreach (var storeProduct in Model)
        {
            <td>
                <div id="product-image"><img src="@Url.StoreItemImagePath(storeProduct.Product_image_path)" /></div>
                <div id="product-name"><a href="@Url.Action("Detail", "Store", new { product_id = storeProduct.Id })">@storeProduct.Product_name</a></div>
                <div id="product-description">@storeProduct.Product_description</div>
                <div id="produdct-price">@storeProduct.Product_price</div>
                <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { product_id = storeProduct.Id })">Dodaj do koszyka</a>
            </td>
        }
    </tr>
</table>
