@model IEnumerable<KacikFryzjerski.Models.ProductModels>
@using KacikFryzjerski.Infrastructure

<div class="row">
    @foreach (var storeProduct in Model)
    {
        <div class="col-md-4">
            <div id="product">
                <div id="product-image"><img src="@Url.StoreItemImagePath(storeProduct.Product_image_path)" /></div>
                <div id="product-name"><a href="@Url.Action("Detail", "Store", new { product_id = storeProduct.Id })">@storeProduct.Product_name</a></div>
                <div id="product-description">@storeProduct.Product_description</div>
                <div id="produdct-price">@storeProduct.Product_price zł</div>
                <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { product_id = storeProduct.Id })">Dodaj do koszyka</a>
            </div>
        </div>
    }
</div>
