﻿@model KacikFryzjerski.Models.ProductModels
@using KacikFryzjerski.Infrastructure

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sitemap">@Html.MvcSiteMap().SiteMapPath()</div>

<table>
    <tr>
        <td id="categories">
            @Html.Action("CategoryMenu")
        </td>
        <td id="products">
            <div>
                <table>
                    <tr>
                        <td id="product-image">
                            <div id="product-image-details"><img src="@Url.StoreItemImagePath(Model.Product_image_path)" /></div>
                        </td>
                        <td id="product-view">
                            <div id="product-name-details">@Model.Product_name</div>
                            <div id="product-description-details">@Model.Product_description</div>
                            <div id="produdct-price-details">@string.Format("{0:0.##}", Model.Product_price) <span>PLN</span></div>
                            <a class="btn btn-primary-details" href="@Url.Action("AddToCart", "Cart", new { id = Model.Id })">Dodaj do koszyka</a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>