@model KacikFryzjerski.ViewModel.HomeViewModel
@using KacikFryzjerski.Infrastructure

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sitemap">@Html.MvcSiteMap().SiteMapPath()</div>

<form id="search-form" method="get" data-ajax="true" data-ajax-target="#CategoryListSection">
    <input id="search-filter" type="search" name="searchQuery"
           data-autocomplete-source="@Url.Action("ProductHint")"
           placeholder="Wprowadź tekst, aby wyfiltrować..." />
    <input type="submit" value="" />
</form>

<table>
    <tr>
        <td id="categories">
            @Html.Action("CategoryMenu")
        </td>
        <td id="products">
            <div>
                <table>
                    <tr>
                        @foreach (var storeProduct in Model.StoreProducts)
                        {
                            <td>
                                <div id="product-image"><img src="@Url.StoreItemImagePath(storeProduct.Product_image_path)" /></div>
                                <div id="product-title"><a href="@Url.Action("Detail", "Store", new { product_id = storeProduct.Id })">@storeProduct.Product_name</a></div>
                                <div id="product-description">@storeProduct.Product_description</div>
                                <div id="produdct-price">@storeProduct.Product_price</div>
                                <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { product_id = storeProduct.Id })">Dodaj do koszyka</a>
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")

    <script>
        $(function () {
            var setupAutoComplete = function () {
                var $input = $(this);
                var options =
                {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        $form.submit();
                    }
                };
                $input.autocomplete(options);
            };

            var ajaxSubmit = function () {
                var $form = $(this);
                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };
                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");
                });
                return false;
            };

            $("#search-filter").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);
        });
    </script>
}