<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kącik fryzjerski", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <!--<li>@Html.ActionLink("Informacje", "About", "Home")</li>-->
                    <!--<li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>-->
                    <li>@Html.ActionLink("Sklep", "CategoryList", "Store", new { category_id = "All" }, null)</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Lista zamówień", "OrdersList", "Manage")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Dodaj produkt", "AddProduct", "Manage")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="cart-element" href="@Url.Action("Index", "Cart")">Koszyk (<span id="cart-elements-quantity">@Html.Action("GetCartElemenetsQuantity", "Cart")</span>)</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div id="top-image">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2>Fryzjer</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
                        est laborum.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h2>Prace</h2>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas 
                        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                        voluptatem sequi nesciunt.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h2>Barber</h2>
                    <p>
                        But I must explain to you how all this mistaken idea of denouncing pleasure and 
                        praising pain was born and I will give you a complete account of the system, and 
                        expound the actual teachings of the great explorer of the truth, the master-builder 
                        of human happiness. No one rejects, dislikes, or avoids pleasure itself, because 
                        it is pleasure, but because those who do not know how to pursue pleasure rationally 
                        encounter consequences that are extremely painful.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div id="page">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Paweł Labuda</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
